.navbar-brand img {
    width: 80px;
  }
  /* .navbar-nav {
    align-items: center;
  } */
  .navbar .navbar-nav .nav-link {
    /* color: #fff; */
    font-size: 1.1em;
    padding: 0.5em 1em;
  }
  .social-share{
    font-size: 30px;
}

  .social-share ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
}
.especial{
  :hover{
    cursor: pointer;
  }

}

  @media screen and (min-width: 768px) {
    .navbar-brand img {
      width: 100px;
    }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
  }
