@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.open{
    font-family: 'Open Sans', sans-serif;
}
.patua{
    font-family: 'Patua One', cursive;
}
.texto{
      text-align: justify;
      text-justify: inter-word;
}
.mini{
    font-size: 0.7rem;
}
.topy{
    margin-top: -15px;
    text-align: center;
}
p{
    font-size: 0.9rem;
}
.special p{
    font-size: 1.2rem !important;

}

